@model Careermatcher.Models.Applicant

@{
    ViewBag.Title = "ViewPotentialApplicant";
    Layout = "~/Views/Shared/_LayoutApplicant.cshtml";
    var dosyaYolu = @Url.Content(Model.Path2Photo);
}

<h2>@Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntrestedJobs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntrestedJobs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path2Resume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path2Resume)
            @Html.ActionLink("Download", "Download", new { applicant = Model.email })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path2Photo)
            
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Path2Photo)*@
            <img src=@Url.Content(Model.Path2Photo) alt="IMAGES" />
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.email }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
@*<img src="@Url.Content(Model.Path2Photo)" width="50" height="60">
<img src="@Url.Content(ViewBag.Image)" width="50" height="60">
<div class="col-md-3 "><img src="@Url.Content(Model.Path2Photo)" alt="Image" class="img padding-20" style="max-width:100%;min-width:100%" /></div>*@