@model Careermatcher.Models.Applicant

@{
    ViewBag.Title = "ViewPotentialApplicant";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dosyaYolu = @Url.Content(Model.Path2Photo);
}

<br />
<div class="container">
    <div class="row">
        <div class="col-sm-6" >
           <h3> Applicant's First Name</h3>
            @Html.DisplayFor(model => model.firstName)
            <h3>Applicant's Last Name</h3>
            @Html.DisplayFor(model => model.lastName)
            <h3>Applicant's Education</h3>
            @Html.DisplayFor(model => model.Education)
            <h3>Applicant's Job interests</h3>
            @Html.DisplayFor(model => model.IntrestedJobs)
            <h3>View/Download Resume</h3>
            @Html.ActionLink("Download/View", "Download", new { applicant = Model.email })

        </div>
        <div class="col-sm-6">
            <img src=@Url.Content(Model.Path2Photo) alt="IMAGES" />
        </div>
    </div>
</div>