@model IEnumerable<Careermatcher.Models.Match>

@{
    ViewBag.Title = "ApplicantMatches";
    Layout = "~/Views/Shared/_LayoutApplicant.cshtml";
}

<h2>ApplicantMatches</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.overAllScore)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.indiffernceInIntrestedJobsRequirment)
        </th>*@
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @if (item.overAllScore > 0)
            {
                for (int i = 0; i < item.overAllScore + 1; i++)
                {
                    @*<a href="#">*@
                    <span class="glyphicon glyphicon-briefcase"></span>
                        @*</a>*@
                }
            }
            else
            {
                @*<a href="#">*@
                <span class="glyphicon glyphicon-briefcase"></span>
                    @*</a>*@
            }
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.indiffernceInIntrestedJobsRequirment)
        </td>*@
        <td>
            @if (item.acceptedByApplicant==false)
            {
            @Html.ActionLink(" ", "AcceptedByApplicant", "InvitationDecider", new { name = item.ApplicantName, email = item.EmployerEmailAddress, jobTitle = item.JobTitle, dateTime = item.PublishDate.AsDateTime() }, new { @class = "btn btn-success glyphicon glyphicon-thumbs-up" })

            @Html.ActionLink(" ", "RejectedByApplicant", "InvitationDecider", new { name = item.ApplicantName, email = item.EmployerEmailAddress, jobTitle = item.JobTitle, dateTime = item.PublishDate.AsDateTime() }, new { @class = "btn btn-danger glyphicon glyphicon-thumbs-down" })
            }
            else if (item.acceptedByApplicant == true && item.acceptedByEmployer == true)
            {
                <a>You have Matched! Click here to view the employers Email address</a>
            }
            else
            {
                <a>Pending</a>
            }
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
