@model IEnumerable<Careermatcher.Models.Applicant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutApplicant.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntrestedJobs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntrestedJobs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.email }) |
            @Html.ActionLink("Details", "Details", new { id=item.email }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.email })
        </td>
    </tr>
}

</table>
