@model Careermatcher.Models.DropDown_Collection

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutApplicant.cshtml";
}



<h2 style="margin-top:60px;">Job Details</h2>


@Html.Label("Please select your Education(s) and the Job(s) that you would be intrested in doing")<br />
@*<form>*@

@using (@Html.BeginForm("getJobAndEducationInformation", "Job", FormMethod.Post))
{
    @*<h3>Job title</h3>
    <input id="Title" name="Title" type="text" value="" style="width:300px;" />
    <br>
    <br>*@
    <input type="hidden" name="Title" value="@ViewBag.Title" />
    string SelectedValue = "";
    //Html.HiddenFor(m => m.Value, SelectedValue);
    <h3>Education Requirements</h3>
    <select id="groupselect" name="groupselect" class="chosen-group-select" style="width:300px;" multiple>
        <option value="0">--Select--</option>

        @foreach (var item in Model.dropDownOne.ParentDataModel)
        {

            <optgroup label="@item.ParentName">
                @{
                    var childfilter = Model.dropDownOne.ClildDataModel.Where(m => m.ParentId == item.ParentId);

                    if (childfilter != null)
                    {

                        foreach (var childitems in childfilter)
                        {

                            if (Model.dropDownOne.SelectedValue == childitems.ChildId)
                            {
                                SelectedValue = "selected='selected'";
                            }

                            <option id="item" value="@childitems.ChildName" @SelectedValue>@childitems.ChildName </option>


                        }
                    }

                }

            </optgroup>

                    }
    </select>
    <br>    <br />
    <h3>Job tags</h3>
    <select id="groupselect2" name="groupselect2" class="chosen-group-select" style="width:200px;" multiple>
        <option value="0">--Select--</option>

        @foreach (var item in Model.dropDownTwo.ParentDataModel)
        {

            <optgroup label="@item.ParentName">
                @{
                    var childfilter = Model.dropDownTwo.ClildDataModel.Where(m => m.ParentId == item.ParentId);

                    if (childfilter != null)
                    {

                        foreach (var childitems in childfilter)
                        {

                            if (Model.dropDownTwo.SelectedValue == childitems.ChildId)
                            {
                                SelectedValue = "selected='selected'";
                            }

                            <option id="item" value="@childitems.ChildName" @SelectedValue>@childitems.ChildName </option>


                        }
                    }

                }

            </optgroup>

                    }
    </select>
    <br><br />

    <input type="submit" value="Save" />
                    }
@*</form>*@

<link href="~/Content/Bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script type="text/javascript">
    //$(document).ready(function () {
    //    //alert("dsfdf");
    //    $(".chosen-select-single").chosen();
    //    $(".chosen-select-multiple").chosen();
    //    $(".chosen-group-select").chosen();
    //    $(".chosen-group-multiple-select").chosen();
    //});
    ; (function ($) {
        $(".chosen-select-single").chosen();
        $(".chosen-select-multiple").chosen();
        $(".chosen-group-select").chosen();
        $(".chosen-group-multiple-select").chosen();
    })(jQuery)
</script>