@model IEnumerable<Careermatcher.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Applicant</h2>

<p>
    @Html.ActionLink("Create New", "Index2")
</p>
<div class="container">
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-3 col-md-3">
        <h4>Job title</h4>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </div>
        <div class="col-sm-3 col-md-3">
        <h4>Education</h4>
        @Html.DisplayFor(modelItem => item.Education)
        </div>
        <div class="col-sm-3 col-md-3">
            <h4>Job tags</h4>
        @Html.DisplayFor(modelItem => item.Tags)
        </div>
        <div class="col-sm-3 col-md-3">
        <h4>Action</h4>
        @Html.ActionLink("Delete", "Delete", new

   {
       id = item.PublishDate.AsDateTime().Date.ToString("ddMMyyyy"),
       Hour = item.PublishDate.AsDateTime().Hour,
       Minute = item.PublishDate.AsDateTime().Minute,
       Seconds = item.PublishDate.AsDateTime().Second,
       Ticks = item.PublishDate.AsDateTime().Ticks,
       Kind = item.PublishDate.AsDateTime().Kind,
       Millisecond = item.PublishDate.AsDateTime().Millisecond,
       jobTitle = item.JobTitle,
       time = item.PublishDate.AsDateTime()
   }) |
        @Html.ActionLink("View Applicants", "eligibleApplicants", new
               {
                   id = item.PublishDate.AsDateTime().Date.ToString("ddMMyyyy"),
                   Hour = item.PublishDate.AsDateTime().Hour,
                   Minute = item.PublishDate.AsDateTime().Minute,
                   Seconds = item.PublishDate.AsDateTime().Second,
                   Ticks = item.PublishDate.AsDateTime().Ticks,
                   Kind = item.PublishDate.AsDateTime().Kind,
                   Millisecond = item.PublishDate.AsDateTime().Millisecond,
                   jobTitle = item.JobTitle,
                   tags = item.Tags,
                   education = item.Education,
                   time = item.PublishDate.AsDateTime()

               }) 
        </div>
    </div>
    <hr />
    <hr />
}
</div>
