@model IEnumerable<Careermatcher.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Applicant</h2>

<p>
    @Html.ActionLink("Create New", "Index2")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.EmployerEmailAddress }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.EmployerEmailAddress }) |*@
                @Html.ActionLink("Delete", "Delete", new

           {
               id = item.PublishDate.AsDateTime().Date.ToString("ddMMyyyy"),
               Hour = item.PublishDate.AsDateTime().Hour,
               Minute = item.PublishDate.AsDateTime().Minute,
               Seconds = item.PublishDate.AsDateTime().Second,
               Ticks = item.PublishDate.AsDateTime().Ticks,
               Kind = item.PublishDate.AsDateTime().Kind,
               Millisecond = item.PublishDate.AsDateTime().Millisecond,
               jobTitle = item.JobTitle,
               time=item.PublishDate.AsDateTime()
           }) |
                @Html.ActionLink("View Applicants", "eligibleApplicants", new
           {
               id = item.PublishDate.AsDateTime().Date.ToString("ddMMyyyy"),
               Hour = item.PublishDate.AsDateTime().Hour,
               Minute = item.PublishDate.AsDateTime().Minute,
               Seconds = item.PublishDate.AsDateTime().Second,
               Ticks = item.PublishDate.AsDateTime().Ticks,
               Kind = item.PublishDate.AsDateTime().Kind,
               Millisecond = item.PublishDate.AsDateTime().Millisecond,
               jobTitle = item.JobTitle,
               tags=item.Tags,
               education=item.Education,
               time = item.PublishDate.AsDateTime()

           }) |
            </td>
        </tr>
    }

</table>
